@use 'variables' as *;

.customBigBtn{
    background-color: $primaryColor;
    border: none;
    border-radius: $stdRadius;
    font-size: 2em;
    width: 80%;
    height: 10vh;

    margin: 2vh;

    cursor: pointer;
    color: $textColorPrimary;

    //une ombre en dessous
    box-shadow: 0px 3px $accentColor;

    transition: all 0.2s;

    &:hover{
        //On ajoute une 2e ombre pour donner un effet de flottaison
        box-shadow: 0px 6px $accentColor, 0px 12px $secondaryColor;
        

        transition: all 0.2s;
    }

}