@use 'variables' as *;

.modal{
    display: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;

    //Un gris foncé transparent
    background-color: rgba(0, 0, 0, 0.9);

    .modalBody, .dismissModal{
        z-index: 101;
    }

    .dismissModal{
        display: flex;
        justify-content: flex-end;
        padding: 2vh;
        

        .dismissButton{
            font-size: 5vh;
            color: $textColorPrimary;
        }
    }

    .modalBody{
        overflow-y: auto;
        padding: 2vh;
        color: $textColorPrimary;

        h2{
            color: $secondaryColor;
            margin-top: 5vh;
        }
    }
}

.showModal{
    display: flex;

    // .backdrop{
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100vw;
    //     height: 100vh;
    //     //TODO
    //     // background-color: red;
    //     z-index: 100;
    // }
}