$stdRadius : 90px;

$primaryColor: #7A306C;
$secondaryColor: #FEC9F1;
$accentColor: #D4E09B;
$backgroundColor: #948D9B;
$textColorPrimary: #F6F4D2;
$textColorSecondary: #1F271B;
$borderColor: #75BBA7;

$titreFontSizes: 2em;
$sousTitreFontSizes: 1.5em;
$textFontSizes: 1.2em;