$stdRadius : 90px;

$primaryColor: #7656F5;
$secondaryColor: #650C80;
$tertiaryColor: #3345E8;
$accentColor: #FF8A16;
$backgroundColor: #1C1C1C;
$textColorPrimary: #E0E0E0;

$titreFontSizes: 2em;
$sousTitreFontSizes: 1.5em;
$textFontSizes: 1.2em;